



.grow-your-sales-book-btn{
    color: #676bcb;
  border: 1px solid #676bcb;
  border-radius: 60px;
  text-decoration: none;
  display: inline-block;
  padding: 17px 20px;
  font-size: 16px;
  font-weight: 300;
  transition: 0.5s;
}

.grow-your-sales-book-btn:hover {
  color: white;
  background-color: #727273;
  border: 1px solid #727273;
}

.grow-your-sales-book-btn img {
  width: 12px;
  margin-right: 10px;
  display: inline !important;
}

.grow-your-sales-book-btn:hover img {
  filter: brightness(10);
}

 .needAudit  .btn{
  margin: 15px 0;
 }


.pmshopify {
  margin-left: 10px;
}
.growyoursales .heroBanner {
  display: flex;
  align-items: top;
  margin: 100px auto;
  justify-content: space-between;
}
.growyoursales .heroBanner .contentLeft {
  width: 55%;
}
.growyoursales .contentLeft h5 {
  font-size: 16px;
  font-weight: 300;
  color: #8f8f91;
  padding: 0;
  line-height: 100%;
  margin: 5px 0;
  vertical-align: middle;
}
.growyoursales .contentLeft h1 {
  font-size: 60px;
  font-weight: 400;
  color: #1e1e1e;
  margin: 5px 0;
  letter-spacing: -2.4px;
  padding: 0;
}
.growyoursales .contentLeft p {
  color: #1f2024;
  font-size: 16px;
  font-weight: 300;
}
.growyoursales .heroBanner .contentRight {
  padding-top: 120px;
  width: 40%;
  position: relative;
}

/**********************/
.growYourSales-img-content-box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  border-radius: 10px;
  position: absolute;
}
.growYourSales-img-content-box div:nth-child(2) img {
  height: 30px;
}
.growYourSales-img-content-box-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.growYourSales-img-content-box-inner p {
  color: rgba(69, 69, 69, 1);
  font-size: 12px;
  font-weight: 300;
  width: 125px;
  margin: 0;
}
.growYourSales-img-content-box-inner span {
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.growYourSales-img-content-box-inner span img {
  width: 20px;
  height: 20px;
}
.growYourSales-img-content-box-1 {
  background-color: rgba(232, 245, 251, 1);
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}
.growYourSales-img-content-box-2 {
  background-color: rgba(238, 251, 232, 1);
  right: 0;
  top: 50px;
}
.growYourSales-img-content-box-3 {
  background-color: rgba(241, 229, 255, 1);
  z-index: -1;
  left: -50px;
  top: 110px;
}
.growYourSales-img-content {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/**********************/

ul.custbult {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.custbult li {
  padding: 0 0 0 30px;
  margin: 3px 0;
  list-style: none;
  font-size: 15px;
  line-height: 150%;
  color: #1f2024;
  font-weight: 300;
  background: url(../images/growyoursales/bullet-icon.svg) no-repeat;
  background-position: 0px 3px;
}
.growyoursales .heroBanner .btn {
  margin-left: 0;
}
.growyoursales .heroBanner .secbtn {
  font-size: 21px;
  font-weight: 300;
  text-decoration: underline;
  color: #696871;
}
.contentLeft .star {
  width: 18px;
  height: 18px;
  background: url(../images/star.svg) no-repeat;
  background-size: 100%;
  margin: 0px 5px 0 0;
  display: inline-block;
}
.growyoursales .whatsinit {
  margin: 50px auto;
}
.whatsinit .block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.whatsinit h2 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 40px;
}
.whatsinit .col {
  padding: 10px;
  text-align: center;
  border: solid 1px transparent;
}
.whatsinit .col:hover {
  border: solid 1px #bbe1f2;
}
.whatsinit .imageW {
  padding: 20px;
  background: #f9f9fd;
  display: inline-block;
}
.whatsinit .col:hover .imageW {
  background: #fff;
}
.whatsinit h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  padding: 0;
}
.whatsinit p {
  font-weight: 200;
  font-size: 12px;
  line-height: 180%;
  padding: 0;
  margin: 0;
}
.growyoursales .needAudit {
  margin: 100px auto 0;
  text-align: center;
}
.growyoursales .needAudit h2 {
  font-size: 40px;
  line-height: 160%;
  letter-spacing: -2.4px;
}
.growyoursales .needAudit .imageW {
  padding: 20px;
  background: #f9f9fd;
  display: inline-block;
}
.growyoursales .needAudit .grid {
  display: flex;
  width: 60%;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
}
.growyoursales .needAudit .grid .col {
  margin: 0 5%;
}
.growyoursales .needAudit h3 {
  font-size: 20px;
  font-weight: 300;
}
.growyoursales .needAudit .securebtn {
  margin-top: 0;
  margin-bottom: 20px;
}
.growyoursales .needAudit .securebtn img {
  width: 10px;
}
.growyoursales .needAudit p {
  font-size: 16px;
}
.pricing {
  padding: 90px 0;
  text-align: center;
  background: #f9f9fc;
}
.pricing h2 {
  padding: 0;
  margin: 0 0 40px 0;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -2.4px;
}
.pricing .grid {
  display: flex;
  justify-content: space-between;
}
.pricing .grid .col {
  width: 28%;
  display: flex;
  position: relative;
  padding: 2%;
  padding-top: 30px;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #b6ddf0;
}
.pricing .grid .col.highlight {
  background: #676bcb;
}
.pricing .grid .col li {
  text-align: left;
}
.pricing .mostHighlight {
  position: absolute;
  top: -15px;
  left: calc(50% - 59px);
  background: #ffba40;
  color: #fff;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
}
.pricing .col h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 10px;
}
.pricing .col h4 {
  margin: 0;
  padding: 0;
}
.pricing .col p {
  font-size: 12px;
  font-weight: 200;
}
.pricing .custbult li {
  padding: 2px 0 2px 30px;
  margin: 5px 0;
  list-style: none;
  font-size: 12px;
  line-height: 150%;
  color: #1f2024;
  font-weight: 300;
  background: url(../images/growyoursales/bullet-icon.svg) no-repeat;
  background-position: 0px 3px;
}
.pricing .col .btn {
  font-size: 16px;
  padding: 15px;
  font-weight: 300;
  margin-top: 15px;
}
.pricing .grid .highlight h3,
.pricing .grid .highlight p,
.pricing .grid .highlight li,
.pricing .grid .highlight h4,
.pricing .grid .highlight .btn {
  color: #fff;
}
.pricing .grid .highlight .btn {
  border-color: #b6ddf0;
}
.pricing .grid .highlight .btn:hover {
  background-color: #fff;
  color: #676bcb;
}
.pricing .grid .highlight li {
  background-image: url("../images/growyoursales/bullet-icon-white.svg");
}

.salesPitch {
  background: #676bcb;
  margin-top: 80px;
}
.salesPitch .contain {
  display: flex;
  justify-content: space-between;
}
.salesPitch .contentRight {
  width: 60%;
  padding: 60px 0;
}
.salesPitch .contentLeft img {
  margin-top: -80px;
}
.salesPitch h2 {
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
.salesPitch .btnDark {
  background: #fff;
  color: #676bcb;
  font-weight: 200;
  font-size: 16px;
  padding: 15px 30px;
  display: inline-block;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.2);
  transition: All 0.3s; /* Animation */
}
.salesPitch .btnDark:hover {
  transform: scale(1.1);
}
.salesPitch .buy-now-btn {
  display: inline-block;
}
.salesPitch .secure {
  margin: 0 24px;
  margin-top: 10px;
  display: inline-block;
}
.salesPitch .views img,
.salesPitch .secure img {
  vertical-align: middle;
}
.salesPitch .secure span {
  vertical-align: middle;
  display: inline-block;
  font-size: 16px;
  color: rgba(256, 256, 256, 0.5);
}

.salesPitch .views {
  vertical-align: middle;
  margin: 15px 0;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
  color: #fff;
}
.salesPitch .views span {
  vertical-align: middle;
  display: inline-block;
}
.faqs {
  padding-bottom: 70px;
}
.faqs h2 {
  font-size: 40px;
  letter-spacing: -2.4px;
  font-weight: 500;
  padding: 0;
  margin: 0 0 40px 0;
  text-align: center;
}
.faqs .accordion__answer {
  display: none;
  transition: All 0.3s; /* Animation */
}
.faqs .accordion.active .accordion__answer {
  display: block;
}
.faqs .accordion {
  border-bottom: solid 1px #e8e8e8;
  cursor: pointer;
  transition: All 0.3s; /* Animation */
  margin: 0 50px;
}
.faqs .accordion:hover {
  border-color: #d3d3d3;
  /* color: #676BCB; */
}
.faqs .accordion:hover .accordion__question p {
  color: #676bcb;
}
.faqs .accordion__question p {
  margin: 0;
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 200;
}
.faqs .accordion.active .accordion__question p {
  font-weight: 500;
}
.faqs .accordion__answer p {
  margin: 0;
  padding: 0 20px 25px 20px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 200;
}
.faqs .accordion .accordion__question {
  background: right center url("../images/arrow-down.svg") no-repeat;
}
.faqs .accordion.active .accordion__question {
  background-image: url("../images/arrow-up.svg");
}
@media (max-width: 1100px) {
  .growyoursales .contentLeft h1 {
    font-size: 50px;
  }
}
@media (max-width: 1000px) {
  .growyoursales .contentLeft h1 {
    font-size: 40px;
  }
  .growyoursales .contentLeft p {
    font-size: 15px;
  }
  .whatsinit .block {
    gap: 10px;
  }
  .pricing .grid {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .pricing .grid .col {
    max-width: 450px;
    width: 100%;
  }
}
@media (max-width: 800px) {
.heroBanner  .btn{
  font-size: 12px;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.grow-your-sales-book-btn{
  padding: 10px 15px;
  font-size: 12px;

}

.grow-your-sales-book-btn img{
  margin-right: 5px;
}

  .growyoursales .heroBanner {
    flex-direction: column-reverse;
    align-items: center;
    margin: 50px auto;
  }

  .growyoursales .heroBanner .contentLeft {
    width: 100%;
  }
  .growyoursales .heroBanner .contentRight {
    width: 100%;
  }
  .growyoursales .heroBanner .contentRight .heroBannerImg {
    width: 60%;
    margin: auto;
  }
  .growYourSales-img-content-box-1 {
    top: -40px;
  }
  .growYourSales-img-content-box-2 {
    top: 20px;
  }
  .growYourSales-img-content-box-3 {
    left: 0;
    top: 80px;
  }
  .whatsinit .block {
    grid-template-columns: 1fr 1fr;
  }
  .whatsinit h2 {
    font-size: 35px;
  }
  .growyoursales .needAudit {
    margin: 50px auto 0;
  }
  .growyoursales .needAudit .grid {
    width: 100%;
  }
  .growyoursales .needAudit h2 {
    font-size: 35px;
  }
  .faqs .accordion {
    margin: 0;
  }
  .salesPitch .contain {
    flex-direction: column;
  }
  .salesPitch .contentRight {
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .growyoursales .contentLeft h1 {
    font-size: 35px;
  }
  .whatsinit .block {
    grid-template-columns: 1fr;
  }
  .whatsinit h2 {
    font-size: 30px;
  }
  .growyoursales .needAudit .grid .col {
    margin: 0 5px;
  }
  .growyoursales .needAudit h3 {
    font-size: 14px;
  }
}
